.sidebar
  width 300px
  padding 0 0 0 17px
  float right
  border-left 3px dashed #8a6044

  .social-title
    text-align right

  .list
    margin 0
    padding 0
    list-style none

    .widget
      margin-bottom 20px
      clear both

    .icon
      background: transparent;
      width: 90px; 
      margin: 0 0 20px 0;
      float left

      img
        width 100%
        float left

    .pinterest 
      margin 0 15px

    .google-plus
      margin-bottom 0
