.app-header
  height 350px
  margin 0 auto
  padding 50px 0 0 0

  .logo
    height 350px
    margin 0 auto
    position relative

    a
      display block

    img
      height 350px
      margin 0 auto
      display block
