.app-footer
  margin 0 auto
  padding 20px 0
  border-top 3px dashed #8a6044
  border-bottom 3px dashed #8a6044
  text-align center

  h1
    margin 13px 0 0 0
    float left

  .list
    margin 0
    padding 0
    list-style none

  .icon
    margin 0 10px
    float right

    a
      display block
      text-decoration none

    img
      width 40px
