.post
  text-align justify
  border-bottom 3px dashed #8a6044

  img
    width 100%
    display block
    box-shadow 3px 3px 5px #8a6044

  time
    padding 10px 0
    display block
    text-align right
    font-weight bold
    border-top 3px dashed #8a6044
    font-family 'Homemade Apple', cursive

  .caption.group
    padding 10px 0
    border-top 3px dashed #8a6044
    font-family 'Homemade Apple', cursive
