global-reset()

html,
body
  background #efecdb
  margin 0
  padding 0

body
  font-family 'Mate', serif
  font-size 1em
  color #444

a
  color #8a6044

a:hover,
a.active
  color #999
  text-decoration none

header,
nav,
article
  display block

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Homemade Apple', cursive
  font-weight normal
  color #8a6044

h1
  font-size 1.7em

h2
  font-size 1.6em

h3
  font-size 1.5em

h4
  font-size 1.4em

h5
  font-size 1.3em

h6
  font-size 1.2em

.clearfix
  clearfix()
