nav.wrapper.app-nav
  ul.wrapper.links-list
    li
      a.active(href="http://bolinhodecopo.art.br") Loja
    li
      a(href="http://blog.bolinhodecopo.art.br/tagged/sobre/chrono") Bolinho de copo?
    li
      a(href="http://blog.bolinhodecopo.art.br") Blog
    li
      a(href="mailto:contato@bolinhodecopo.art.br") Fale conosco
