aside.clearfix.sidebar
    h1.social-title Onde nos encontrar?
    ul.clearfix.list
      li.icon.instagram
        a(href="http://instagram.com/bolinhodecopo", target="_blank")
          img(src=imagesPath+"/icones/instagram.png", alt="Instagram")
      li.icon.pinterest
        a(href="http://pinterest.com/bolinhodecopo/", target="_blank")
          img(src=imagesPath+"/icones/pinterest.png", alt="Pinterest")
      li.icon.feed
        a(href="http://blog.bolinhodecopo.art.br/rss", target="_blank")
          img(src=imagesPath+"/icones/feed.png", alt="Feed")
      li.widget.facebook(style="background: #fff;")
        div.fb-like-box(data-href="https://www.facebook.com/BolinhoDeCopo", data-width="300", data-show-faces="false", data-stream="true", data-show-border="true", data-header="false")
      li.widget.twitter
        a.twitter-timeline(href="https://twitter.com/BolinhoDeCopo", data-widget-id="344275165804380160") Tweets by @BolinhoDeCopo
        script(type="text/javascript").
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      li.widget.google-plus
        script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
        div.g-plus(data-href="https://plus.google.com/115407635197632595818", width="300")
