doctype html
html(lang="en")
  head
    title Guia de estilo Bolinho de Copo

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

    link(href="/stylesheets/app.css", rel="stylesheet", type="text/css", media="all")
    link(href="/stylesheets/blog.css", rel="stylesheet", type="text/css", media="all")
    link(href='http://fonts.googleapis.com/css?family=Mate:400,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Homemade+Apple', rel='stylesheet', type='text/css')

    <!--[if lt IE 9]>
    script(src="http://static.tumblr.com/hriofhd/Qj0m8pn7q/html5shiv.js")
    <![endif]--> 
  body
    div#fb-root
    script(type="text/javascript").
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225977590762295";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    block body

    script(src="/scripts/app.js", type="text/javascript")
